-
  const dataTasks = [
    {
      status: "active",
      title: "Сделать кнопку",
      text: "Сделать кнопку",
    },
    {
      status: "active",
      title: "Сделать меню",
      text: "Сделать меню",
    },
    {
      status: "finished",
      title: "Сделать подвал",
      text: "Сделать подвал",
    },
  ]

