-
  const dataFormCreateTask = [
    {
      inputPlaceholder: "Заголовок",
      isRequired: true,
      inputType: "text",
      inputName: "title",
      inputId: "1"
    },
    {
      inputPlaceholder: "Описание",
      isRequired: true,
      inputType: "text",
      inputName: "description",
      inputId: "2"
    },
  ]

