-
  const dataFilter = [
    {
      status: "all",
      title: "Все задачи",
      isActive: true
    },
    {
      status: "active",
      title: "Активные",
    },
    {
      status: "finished",
      title: "Выполненные",
    },
  ]

