//- Data

include ../data/data-tasks
include ../data/data-form-create-task
include ../data/data-form-edit-title
include ../data/data-filter

//- Base
//include ./base/header
//include ./base/footer
//include ./base/modal

//- Utils

include mixins/img
include mixins/picture

//- Blocks

include blocks/todo-list
include blocks/filter
include blocks/task
include blocks/create-task-form
include blocks/edit-title-form

//- From Elements

include form-elements/custom-input

//- Mixins

include mixins/btn
include mixins/icon
