// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-mango:                       #fbce51;
$color-flamingo:                    #ff5a5a;
$color-cornflower:                  #5f9cf8;
$color-dodger:                      #5a7fff;
$color-alto:                        #d0d0d0;
$color-pippin:                      #ffe4e4;
$color-swan:                        #beb5b5;
$color-dusty:                       #979797;


// Typography
// ---------------------------------

$ff-inter:                          "Inter", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-1024:                           1024px;
$vp-768:                            768px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
